 

button {
    background-color: #e8e8e8;
    width: 170px;
    border-radius: .3rem;
    border-color: none;
    cursor: pointer !important;
    font: Monstrate;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 85%;
    margin-top: 1%;
}